body{
  background-color: #f5f5f5;
  
}
.wrap{
  max-width: 1520px;
  margin: 0 auto;
}
/* 패딩 */
.padding50{
  padding: 50px;
}
.paddingT50{
  padding-top: 50px;
}
.paddingR50{
  padding-right: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.paddingL50{
  padding-left: 50px;
}

/* 마진 */
.margin50{
  margin: 50px;
}
.marginT50{
  margin-top: 50px;
}
.marginR50{
  margin-right: 50px;
}
.marginB50{
  margin-bottom: 50px !important;
}
.marginL50{
  margin-left: 50px;
}

.h1{
  font-size: 64px;
}
.h2{
  font-size: 54px;
  text-transform: capitalize;
  margin-bottom:20px;
  font-weight: 200;
}
.h3{
  font-size: 44px;
}
.h4{
  font-size: 34px;
}
.h5{
  font-size: 24px;
}
.h6{
  font-size: 20px;
}
.p{
  font-size: 16px;
  line-height: 1.6;
}
.p14{
  font-size: 14px;
  line-height: 1.6;
}
/* flex */
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
.column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}

/* 그리드 */
.grid24{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
}



/* 블럭,인라인 */
.block{
  display: block;
}

/* 정렬 */
.text-center{
  text-align: center;
}

/* 둥근모서리 */
.borderR30{
  border-radius: 30px;
}

/* 라인 */
.line{
  border-left: 1px solid #ccc;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}

/* 안보이게 */
.hide{
  display: none;
}

/* 높이 */
.vh100{
  height: 100vh;
  box-sizing: border-box;
  min-height: 800px;
}
.h100{
  height: 100%;
}

.eng{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.grid{
  display: grid;
}






