section#download{
  background-color: #f2f2f2;
 }
 section#download .wrap{
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 200px;
  width: 980px;
 }
 section#download .wrap>*{

 }
 section#download .wrap h2{
    
 }
 section#download .wrap a{
   
 }
section#download .wrap img{
  grid-column: 2;
  grid-row: 1 / span 3;
  max-width: 200px;
}