footer {
  background-color: #ecab47;
  color: white;
}
footer .wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
  padding: 0 calc((100% - 1520px) / 2);
  overflow: hidden;
  align-items: center;
}
footer .wrap h1 {

}
footer .wrap ul.pnb {
  width: 55%;
  padding: 0 10px 0 0;
}
footer .wrap ul.pnb li {

}
footer .wrap ul.pnb li a {
  color: white;
  font-size: 14px;
}
footer .wrap ul.pnb li:not(:first-child) a{
padding:0 15px;  
}
footer .wrap ul.pnb li:first-child a{
padding-right: 15px;  
}

footer .wrap .fnb {
  justify-content: end;
  font-size: 13px;
}
footer .wrap .flex ul.fnb {

}
footer .wrap .flex ul.fnb li {

}
footer .wrap .flex ul.fnb li a {
  color: white;
  padding: 10px 10px;
}
footer .wrap .flex select {
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px solid;
  padding: 6px;
  border-radius: 19px;
}
footer .wrap .flex select option {

}
footer .wrap a.blog {
 content:""; 
 display: block;
 font-size: 0;
 background-image: url(../img/blog_btn.png);
 width: 41px;
 height: 41px;
 margin-left: 10px;
 }
footer .wrap address {
  color: white;
  width: 100%;
  font-size: 14px;
  margin-top: 3px;
}
footer .wrap address::before{
 content:""; 
 width: 100vw;
 display: block;
 border-top: 1px solid white;
 margin-bottom: 15px;
 }
footer .wrap p {
  color: white;
  font-size: 14px;
}