header {
  background-color: rgba(255,255,255,0);
  position: fixed;
  width: 100%;
}
header .wrap {
  height: 100px;
  align-items: center;
}
header .wrap h1 {

}
header .wrap h1 a {

  font-size: 0;
  display: block;
  width: 188px;
  height: 33px;
  background-image: url(../img/logo.png);
}
header .wrap ul {

  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,211,117,0.4);
  border-radius: 10px 0 0 10px;
  line-height: 2;
  overflow: hidden;
  z-index: 1;
}
header .wrap ul li {
  text-align: right;
}

header .wrap ul li a {
  display: block;
  line-height: 2;
  padding: 8px 20px;
  text-align: left;
  transition: 0.5s;
  color: #694904;
}
header .wrap ul li a:hover{
 background-color: #ccc;
}

header .wrap .sublist {
  display: none;
}
header .wrap .sublist .menu1 {

}
header .wrap .sublist .menu1 h2 {

}
header .wrap .sublist .menu1 ul.useguide {

}
header .wrap .sublist .menu1 ul.useguide li {

}
header .wrap .sublist .menu1 ul.useguide li a {

}
header .wrap .sublist .menu2 {

}
header .wrap .sublist .menu2 h2 {

}
header .wrap .sublist .menu2 ul {

}
header .wrap .sublist .menu2 ul li {

}
header .wrap .sublist .menu2 ul li a {

}
header .wrap .sublist .menu3 {

}
header .wrap .sublist .menu3 h2 {

}
header .wrap .sublist .menu3 ul {

}
header .wrap .sublist .menu3 ul li {

}
header .wrap .sublist .menu3 ul li a {

}
header .wrap .sublist .menu4 {

}
header .wrap .sublist .menu4 h2 {

}
header .wrap .sublist .menu4 ul {

}
header .wrap .sublist .menu4 ul li {

}
header .wrap .sublist .menu4 ul li a {

}
header .wrap span.lang {

  display: none;
}
header .wrap span.lang a {
  display: block;
}

header .wrap span.lang a:nth-child(2){
  display:none;
}

  .ham{ 
  height: 29px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  
  .ham span{
  background-color: black;
  width: 25px;
  height: 3px;
  display: block;
  }