section#news {

  position: relative;
  background-color: #eeee;
  z-index: -1;
}
section#news .wrap {
  margin-top: 100px;
}
section#news .wrap hgroup {
  padding-top: 65px;
  padding-bottom: 42px;
}
section#news .wrap hgroup h2 {
  color: #f8b420;
  font-weight: bold;
  font-size: 18px;
}

section#news .wrap hgroup h2::after {
  content: "";
  background-color: transparent;
  width: 148px;
  height: 10px;
  display: block;
  border: 6px solid #ffcf6763;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 20px;
}
section#news .wrap hgroup h3 {

  font-size: 40px;
  padding-top: 10px;
  margin-top: 3px;
  padding-left: 35px;
  font-weight: bold;
  color: #d0910d;
}
section#news .wrap ul {

}
section#news .wrap ul li {

}
section#news .wrap ul li article {
  width: calc(100% / 4);
  position: relative;
  scale: 93%;
}

section#news .wrap ul li article a {
  width: 100%;
  height: 300px;
  display: block;
}
section#news .wrap ul li article a:hover{
  background-color:rgba(255,211,117,0.4);
}  

section#news .wrap ul li article:nth-child(1) a{
background-image:url(../img/news_01.jpg);
}
section#news .wrap ul li article:nth-child(2) a{
background-image:url(../img/news_02.jpg)
}
section#news .wrap ul li article:nth-child(3) a{
background-image:url(../img/news_03.jpg)
}
section#news .wrap ul li article:nth-child(4) a{
background-image:url(../img/news_04.jpg);
z-index: -1;
}


section#news .wrap ul li article a p.p {
  background-color: #f5a419;
  color: white;
  border-radius: 30px;
  display: inline;
  padding: 0 10px;
  position: absolute;
  bottom: 92px;
  left: 15px;
}

section#news .wrap ul li article a p.text {
  background-color: rgba(0,0,0,0.4);
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
  font-size: 14px;
  width: 372.4px;
  box-sizing: border-box;
}