@media screen and (max-width:368px){
  .vh100{
  height: 62vh;
  min-height: 500px;
  }
  .wrap{
  max-width: 300px;
  }
  
.h1{
  font-size: calc(64px * 0.4);
}

.h2{
  font-size: calc(54px * 0.7);
}
.h3{
  font-size: calc(44px * 0.4);
}
.h4{
  font-size: calc(34px * 0.4);
}
.h5{
  font-size: calc(24px * 0.4);
}
.h6{
  font-size: calc(20px * 0.65);
}
.p{
  font-size: calc(16px * 0.5);
}
.p14{
  font-size: calc(14px * 0.5);
}
  
  /*  header  */
  
  header .wrap ul{
  display: none;
  }
  
  div#title .wrap .stxt{
    
  }
  
  
/*  title  */
  div#title{
  height: 70vh;
  min-height: 0;
  }
  div#title .wrap .txt_T{
    
  }
  div#title .wrap .txt_B{
    
  }
/*   promotion   */
  section#promotion{
  }
  section#promotion .wrap{
  }
  
  section#promotion .wrap h2{
  font-size: 18px;
  color: #f8b420;
  }
  
  section#promotion .wrap p{
  line-height: 27px;
  width: calc(100% - 30px);
  font-size: 0;
  margin-bottom: 0;
  }
  
  section#promotion .wrap p::before{
  content: "HB PAPER 기업 소개 영상";
  font-size: 24px;
  transform: translatey(-37px);
  }
  
  section#promotion .wrap p::after{
  width: 30vw;
  }
  
  section#promotion .wrap iframe{
    
  padding-top: 75px;
  }
/*  business  */
  section#business{
  height: 75vh;
  min-height: 0;
  }
  section#business .wrap h2{   
  font-size: 18px;
  margin: 0;
  }
  
  section#business .wrap p.black30B{ 
  font-size: calc(40px * 0.6);
  line-height: 27px;
  margin: 0;
  padding-top: 10px;
  }
  
   section#business .wrap ul{
  display: initial;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  }
  
  section#business .wrap ul li{
  width: calc((100vw - 30px)* 0.45);
  margin-bottom: 20px;
  background-position: center bottom;
    
  }
  
  section#business .wrap ul li a h3{
  font-size: calc(90px * 0.4);
  }
  
  section#business .wrap ul li a p.p{
  display: none;
  font-size: calc(17px * 0.75);
  }
  
  section#business .wrap ul li:hover a p.p{
    display: initial;
  }
  
  section#business .wrap ul li:nth-child(1) a p.p{
    color:white;
  }
  
/* products   */
  
  section#products{
    
  }
  section#products .wrap h2{
  top: 10px;
  }
  section#products .wrap h3{
  font-size: calc(40px * 0.6);
  line-height: 27px;
  margin: 0;
  padding-top: 10px;
  }
  
  section#products .wrap div{
  display: initial;
  display: flex;
  height: 96vw;
  flex-wrap: wrap;
  }
  
  section#products .wrap div article{
  display: initial;
  width: 140px;
  height: 70px;
  display: flex;
  background-size: 80%;
  }
  
  section#products .wrap div article:first-child{
    
  }
  
  section#products .wrap div article:nth-child(odd){
  transform: translateY(0);
  }
  section#products .wrap div article h3{
    
  background-color: rgba(0,0,0,0.0);
  display: flex;
  justify-content: center;
  padding: 24px;
  margin: 0 auto;
  }  
  section#products .wrap div article p{
  /*! display: initial; */
  line-height: 20px;
  width: 86%;
  padding: 0 23px;
  }
  section#products .wrap div article:hover p{
    display: none;
  }
  section#products .wrap div article p span{
  display: initial;
  }
  
/*  news  */
  section#news{
  }
  
  section#news .wrap{
    
  margin-top: 0;
  }
  section#news .wrap hgroup{
  
  }  
  section#news .wrap hgroup h2{
    
  }
  section#news .wrap hgroup h3{
    
  }
  section#news .wrap ul{
    
  align-items: center;
  display: flex;
  justify-content: center;
  }
  section#news .wrap ul li{
  display: initial;
  }
  
  section#news .wrap ul li article{
  width: 100%;
  height: 100px;
  }
  section#news .wrap ul li article a{
  background-repeat: no-repeat;
  display: initial;
  }
  
  section#news .wrap ul li article a p.p{  
  font-size: 13px;
  bottom: 74px;
  left: 1px;
  }
  section#news .wrap ul li article a p.text{
  height: 70px;
  width: 240px;
  }
  section#news .wrap ul li article a p.text::after{
    content:"";
    display: block;
    border: 19px solid transparent;
    border-left-color: rgba(0,0,0,0.4);
    transform: translatey(-70px) translatex(234px);
  }
  /* footer */
  footer .wrap ul.pnb{
  width: 100%;
  }
  
  footer .wrap ul.pnb li{
  }
  footer .wrap ul.pnb li a{
  font-size: 9px;
  }

  footer .wrap .flex ul.fnb{
  display: none;
  }
  footer .wrap ul.pnb li:nth-child(n) a{
    padding: 0 6px 0 0;
  }
  footer .wrap .flex select{
  font-size: 9px;
  }
  footer .wrap address{
    font-size: 9px;
  }
  footer .wrap p{
    
  font-size: 9px;
  }
}